<!--
  Generated template for the BreakingDownPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-bg>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle="Sidemenu" icon-only color="light" start style="display: block !important;">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>When Things are Breaking Down or Getting Much Worse</ion-title>
    <ion-buttons end>
      <button class="header-logo" (click)="navigateToHome($event)">
        <img src="assets/header_icon.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <p><strong>When Things Are Breaking Down or Getting Much Worse</strong></p>
   <p>When things are breaking down or getting much worse, a crisis may be in our near future.</p>
    <p>What are my signs that things are breaking down or getting much worse?</p>
    <ion-list *ngFor="let item of items;let index = index;trackBy:trackByIndex;">
      <ion-item *ngIf ="item.QId == 1" class="daily-maintenance-list" >
        <inline-form text-wrap [(ngModel)]="items[index].Content" Id={{items[index].Id}} ColumnName="" PageType="4"
          [required]="true" type="text">
        </inline-form>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ1Item(item.Id)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="daily-maintenance-list" [formGroup]="ContentForm" *ngIf="isaddQ1item">
        <ion-input type="text" formControlName="Content" (ionBlur)="InsertQ1Item(1)" placeholder="Enter your text"></ion-input>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ1Item()"></ion-icon>
      </ion-item>
      <ion-item class="add-item-btn">
        <button ion-button small clear color="primary" (click)="ToggleQ1Input()">
          <ion-icon name="add"></ion-icon>&nbsp;Add Item
        </button>
      </ion-item>
    </ion-list>
  </div>
  &nbsp;
  <div>
    <p><strong>Action Plan for When Things Are Breaking Down</strong></p>
    <!-- <p>List Wellness Tools that you know you must use every day when you are feeling this badly, things like having 3
      exchange listening sessions with a supporter, doing 4 relaxation exercises, spending at least an hour with a
      supporter, working on a favourite project, watching a video that make you laugh.
    </p> -->
    <p>What actions will I take and what wellness tools will I use to respond when things are breaking down or getting much worse?
    </p>
    <ion-list *ngFor="let item of items;let index = index;trackBy:trackByIndex;">
      <ion-item *ngIf ="item.QId == 20" class="daily-maintenance-list" >
        <inline-form text-wrap [(ngModel)]="items[index].Content" Id={{items[index].Id}} ColumnName="" PageType="4"
          [required]="true" type="text">
        </inline-form>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ3Item(item.Id)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="daily-maintenance-list" [formGroup]="ContentForm" *ngIf="isaddQ3item">
        <ion-input type="text" formControlName="Content" (ionBlur)="InsertQ3Item(20)" placeholder="Enter your text"></ion-input>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ3Item()"></ion-icon>
      </ion-item>
      <ion-item class="add-item-btn">
        <button ion-button small clear color="primary" (click)="ToggleQ3Input()">
          <ion-icon name="add"></ion-icon>&nbsp;Add Item
        </button>
      </ion-item>
    </ion-list>
    <p>What additional actions or tools might I use to respond to signs that things are breaking down or getting much worse if I feel like they will help?</p>
    <ion-list *ngFor="let item of items;let index = index;trackBy:trackByIndex;">
      <ion-item *ngIf ="item.QId == 2" class="daily-maintenance-list" >
        <inline-form text-wrap [(ngModel)]="items[index].Content" Id={{items[index].Id}} ColumnName="" PageType="4"
          [required]="true" type="text">
        </inline-form>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ2Item(item.Id)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="daily-maintenance-list" [formGroup]="ContentForm" *ngIf="isaddQ2item">
        <ion-input type="text" formControlName="Content" (ionBlur)="InsertQ2Item(2)" placeholder="Enter your text"></ion-input>
        <ion-icon name="close" color="header" item-end (click)="DeleteQ2Item()"></ion-icon>
      </ion-item>
      <ion-item class="add-item-btn">
        <button ion-button small clear color="primary" (click)="ToggleQ2Input()">
          <ion-icon name="add"></ion-icon>&nbsp;Add Item
        </button>
      </ion-item>
    </ion-list>
    <p style="text-align: center">
        <button class="btn-save-yellow" ion-button color="primary" round (click)="sendpage()">Send Page</button>
      </p>
  </div>
</ion-content>